h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chessboard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
}

.row{
    display: flex;
    height: 50px;
}

.square{
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.row:nth-child(odd) .square:nth-child(odd),
.row:nth-child(even) .square:nth-child(even) {
    background-color: #faf6f3; 
}

.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd) {
    background-color: #055b05; 
}